<section class="card text-dark bg-warning my-3 mx-auto p-0 shadow col-md-8" (ngSubmit)="updateNote(notes)" *ngIf="auth.user$ | async as user">
    <div class="card-header d-flex bd-highlight ">
        <div class="p-0 m-0 w-100 bd-highlight">
            <h5 class="card-title m-0 p-0" *ngIf="editState === false">{{ notes.avatar }}: {{notes.subject}}</h5>
            <input class="form-control form-control-sm sbj" type="text" placeholder="notes.subject"
                [(ngModel)]="notes.subject" name="subject" *ngIf="editState === true">
        </div>
        <div class="p-0 m-0 flex-shrink-1 bd-highlight">
            <span class="ml-auto m-0 trigger-btn" *ngIf="editState === false"
                (click)="editNote($event, notes)">✏️</span>
            <span class="ml-auto m-0 trigger-btn" *ngIf="editState === true" (click)="close()">❎</span></div>
    </div>
    <div class="card-body bg-light pt-2 px-0 pb-2">
        <form class="px-2 py-0" *ngFor="let body of notes.body">
            <textarea class="form-control mb-2" type="text" placeholder="notes.body" [(ngModel)]="body.list" name="body"
                *ngIf="editState === true"></textarea>
            <div class="m-0 p-0" *ngIf="editState===false">
                <p class="m-0 p-0">
                    {{body.list}}
                </p>
            </div>
        </form>
        <!--<p class="card-text p-0 m-0" *ngIf="editState === false">{{notes.body}}</p>-->
        <div class="row mb-2" *ngIf="editState === true">
            <button class="btn btn-danger btn-sm mt-2 ml-4" (click)="deleteNote($event, notes)">🗑️
                Delete</button>
            <button class="btn btn-primary btn-sm mt-2 ml-1" (click)="updateNote(notes)">✔️
                Update</button>
        </div>
        <small class="p-2 m-0 badge badge-pill badge-light float-right">{{notes.date | date : 'medium'}}</small>
    </div>
</section>