<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <h2 class="">🏠 Banda Board</h2>
        <div *ngIf="!(auth.user | async)">
            <button class="btn btn-outline-light font-weight-bold my-2 my-sm-0 ml-auto" type="submit"
                (click)="onJoin()" *ngIf="signin.length === 0">✍️ Join</button>
        </div>

        <button class="btn btn-outline-light font-weight-bold my-2 my-sm-0 ml-auto" type="submit" (click)="logout()"
            *ngIf="auth.user | async">👋 Bye</button>
    </div>
</nav>